// Import Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --light: #fff;
    --gray: #ccc;
    --dark: #000;
    --dark-gray: #1e1e1e;
}
* {
    ul {
        margin-left: -35px;
    }
    a {
        text-decoration: none;
        color: var(--dark);
    }
}
body {
    background-color: var(--gray);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;

    h2 {
        text-align: center;
    }
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-gray);
    padding: 20px 0;
    border-bottom: 3px solid var(--dark-gray);
    margin-bottom: 50px;
    color: var(--light);

    .nav-left, .nav-right {
        
         
        ul {
            display: flex;
            justify-content: space-between;
            list-style: none;

            li {

                a {
                    color: var(--light);
                    transition: 0.3s ease-in-out;

                    &:hover {
                        color: darken(red, 25%);
                        transition: 0.3s ease-in-out;
                    }
                }
            }
                
        }
    }
    .nav-left {
        padding-left: 3em;
    }
    .page-head-middle {
        width: 100%;
        text-align: center;
    
        h1 {
            font-size: 3em;
            margin-bottom: 0;
        }
    }
    .nav-right {
        padding-right: 3em;

        a {
            // background-color: var(--light);
            // padding: 10px 20px;
            // border-radius: 3px;
        }
        li:nth-child(2) {
            margin-left: 1em;
        }
    }
}
.wrapper {
    width: 80%;
    margin: 0 auto;

    #projects {
        .project {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;

            .project-img {
                width: 30%;

                img {
                    
                    height: 300px;
                }
            }
            .project-info {
                width: 50%;

                .project-link {
                    margin-top: 25px;
                    .link-button {
                        padding: 10px 20px;
                        background-color: var(--light);
                        transition: 0.3s ease-in-out;    

                        &:hover {
                            background-color: darken(red, 25%);
                            color: var(--light);
                            transition: 0.3s ease-in-out;    
                        }
                    }
                }
            }
        }
    }
   
}
#about {
    background-color: var(--dark-gray);
    color: var(--light);
    padding: 100px 0;
    
    p {
        width: 50%;
        margin: 0 auto;
        
    }
}
#contact {
    padding: 50px 0;
    
    p {
        text-align: center;
    }
    form {
        width: 50%;
        margin: 0 auto;

        input, textarea {
            padding: 10px;
            border: none;
            width: 100%;
            margin-bottom: 10px;
        }
        input[type=submit] {
            text-align: center;
            width: 100%;
            margin: 0 auto;
            padding: 10px 20px;
            background-color: #fff;
            transition: 0.3s ease-in-out;    

            &:hover {
                background-color: darken(red, 25%);
                color: var(--light);
                transition: 0.3s ease-in-out;    
            }
        }    
    }
}    
footer {
    background: var(--dark-gray);
    margin-top: 50px;
    padding: 20px 0;
    p {
        color: var(--light);
        text-align: center;
    }
}