@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
:root {
  --light: #fff;
  --gray: #ccc;
  --dark: #000;
  --dark-gray: #1e1e1e;
}

* ul {
  margin-left: -35px;
}

* a {
  text-decoration: none;
  color: var(--dark);
}

body {
  background-color: var(--gray);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
}

body h2 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-gray);
  padding: 20px 0;
  border-bottom: 3px solid var(--dark-gray);
  margin-bottom: 50px;
  color: var(--light);
}

nav .nav-left ul, nav .nav-right ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav .nav-left ul li a, nav .nav-right ul li a {
  color: var(--light);
  transition: 0.3s ease-in-out;
}

nav .nav-left ul li a:hover, nav .nav-right ul li a:hover {
  color: maroon;
  transition: 0.3s ease-in-out;
}

nav .nav-left {
  padding-left: 3em;
}

nav .page-head-middle {
  width: 100%;
  text-align: center;
}

nav .page-head-middle h1 {
  font-size: 3em;
  margin-bottom: 0;
}

nav .nav-right {
  padding-right: 3em;
}

nav .nav-right li:nth-child(2) {
  margin-left: 1em;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper #projects .project {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.wrapper #projects .project .project-img {
  width: 30%;
}

.wrapper #projects .project .project-img img {
  height: 300px;
}

.wrapper #projects .project .project-info {
  width: 50%;
}

.wrapper #projects .project .project-info .project-link {
  margin-top: 25px;
}

.wrapper #projects .project .project-info .project-link .link-button {
  padding: 10px 20px;
  background-color: var(--light);
  transition: 0.3s ease-in-out;
}

.wrapper #projects .project .project-info .project-link .link-button:hover {
  background-color: maroon;
  color: var(--light);
  transition: 0.3s ease-in-out;
}

#about {
  background-color: var(--dark-gray);
  color: var(--light);
  padding: 100px 0;
}

#about p {
  width: 50%;
  margin: 0 auto;
}

#contact {
  padding: 50px 0;
}

#contact p {
  text-align: center;
}

#contact form {
  width: 50%;
  margin: 0 auto;
}

#contact form input, #contact form textarea {
  padding: 10px;
  border: none;
  width: 100%;
  margin-bottom: 10px;
}

#contact form input[type=submit] {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

#contact form input[type=submit]:hover {
  background-color: maroon;
  color: var(--light);
  transition: 0.3s ease-in-out;
}

footer {
  background: var(--dark-gray);
  margin-top: 50px;
  padding: 20px 0;
}

footer p {
  color: var(--light);
  text-align: center;
}
