// Import Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --light: #fff;
    --gray: #ccc;
    --dark: #000;
}
* {
    ul {
        margin-left: -35px;
    }
    a {
        text-decoration: none;
        color: var(--dark);
    }
}
body {
    background-color: var(--gray);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: #fff;
    padding: 20px 0;

    .nav-left, .nav-right {
        
         
        ul {
            display: flex;
            justify-content: space-between;
            list-style: none;

            li {

            }
                
        }
    }
    .nav-left {
        padding-left: 3em;
    }
    .page-head-middle {
        width: 100%;
        text-align: center;
    
        h1 {
            font-size: 3em;
            margin-bottom: 0;
        }
    }
    .nav-right {
        padding-right: 3em;

        a {
            // background-color: var(--light);
            // padding: 10px 20px;
            // border-radius: 3px;
        }
        li:nth-child(2) {
            margin-left: 1em;
        }
    }
}
.wrapper {
    width: 80%;
    margin: 0 auto;

    #projects {
        .project {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;

            .project-img {
                width: 30%;

                img {
                    
                    height: 300px;
                }
            }
            .project-info {
                width: 50%;

                .project-link {
                    margin-top: 25px;
                    .link-button {
                        padding: 10px 20px;
                        background-color: var(--light);
                    }
                }
            }
        }
    }
    #about {
    
    }
    #contact {
    
    }    
}
footer {
    background: var(--dark);
    margin-top: 50px;
    padding: 20px 0;
    p {
        color: var(--light);
        text-align: center;
    }
}